#Python Basic 1
#Data types and structure

In [1]:
print("Hello World")

Hello World

In [2]:
print("Helo World ","1234 ", "DTS Data Science")

Helo World  1234  DTS Data Science

In [3]:
print("Helo World "+"1234" + "DTS Data Science")

Helo World 1234DTS Data Science

In [6]:
type(11)

int

In [7]:
type(0.234)

float

In [8]:
type("contoh")

str

In [10]:
a = 11
b = 0.123
c = "Hello"

In [11]:
type(a)

int

In [12]:
type(b)

float

In [13]:
type(c)

str

In [14]:
float(2)

2.0

In [15]:
int(0.567)

0

In [16]:
int(2.7)

2

In [19]:
float("123")

123.0

In [20]:
str(123)

'123'

In [21]:
print('Hello world')
print("Hello world(1)")

Hello world
Hello world(1)

In [22]:
type(True)

bool

In [24]:
int(True)

1

In [25]:
int(False)

0

In [26]:
float(True)

1.0

In [27]:
bool(1)

True

In [28]:
bool(1.0)

True

In [29]:
bool(1.234)

True

In [30]:
bool(-1.21)

True

In [34]:
28 / 6

4.666666666666667

In [35]:
28 // 6

4

In [36]:
25 // 5

5

In [37]:
3 + 3 * 5

18

In [38]:
(3 + 3) * 5

30

In [39]:
3 + 3 * 5 + 6 / 2

21.0

In [40]:
x = 160

In [41]:
type(x)

int

In [42]:
x = 160/6

In [43]:
type(x)

float

In [44]:
mytuple=(1,2,3,'AAA','BBB', 0.123, 0.234)

In [45]:
mytuple

(1, 2, 3, 'AAA', 'BBB', 0.123, 0.234)

In [46]:
type(mytuple)

tuple

In [47]:
mytuple[0]

1

In [48]:
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])
print(mytuple[3])
print(mytuple[4])
print(mytuple[5])
print(mytuple[6])

1
2
3
AAA
BBB
0.123
0.234

In [49]:
print(mytuple[-1])
print(mytuple[-2])
print(mytuple[-3])
print(mytuple[-4])
print(mytuple[-5])
print(mytuple[-6])

0.234
0.123
BBB
AAA
3
2

In [50]:
mytuple[0:4]

(1, 2, 3, 'AAA')

In [51]:
mytuple[3:6]

('AAA', 'BBB', 0.123)

In [53]:
len(mytuple)

7

In [54]:
mytuple2=(1,2,3,4)

In [58]:
mytuple3=mytuple2

In [59]:
mytuple3

(1, 2, 3, 4)

In [60]:
mytuple2=(4,5,6)

In [61]:
mytuple2

(4, 5, 6)

In [62]:
mytuple3

(1, 2, 3, 4)

In [71]:
mytuple3=(1,6,3,8,3,7)
mytuple3=sorted(mytuple3)
mytuple3
type(mytuple3)

list

In [69]:
mytuple4 = (1,2,3,"AAA",(1,2), ("BB","CC"))
mytuple4[3:6]

('AAA', (1, 2), ('BB', 'CC'))

In [70]:
mytuple5 = (1,mytuple2,mytuple3,"AA")
mytuple5

(1, (4, 5, 6), [1, 3, 3, 6, 7, 8], 'AA')

In [74]:
mytuple5[1][2]

6

In [78]:
a = sorted(("B","A,AA","BB"))
a

['A,AA', 'B', 'BB']

In [82]:
L = [1,2,3,"AA", "BB","CC"]
print(L)
L[3] = "aa"
print(L)
print(L[2:5])

[1, 2, 3, 'AA', 'BB', 'CC']
[1, 2, 3, 'aa', 'BB', 'CC']
[3, 'aa', 'BB']

In [83]:
L.extend(["XX","YY",7,8,9])

In [84]:
L

[1, 2, 3, 'aa', 'BB', 'CC', 'XX', 'YY', 7, 8, 9]

In [85]:
L.append(["KK","LL",4,5])
print(L)

[1, 2, 3, 'aa', 'BB', 'CC', 'XX', 'YY', 7, 8, 9, ['KK', 'LL', 4, 5]]

In [86]:
del(L[0])
print(L)

[2, 3, 'aa', 'BB', 'CC', 'XX', 'YY', 7, 8, 9, ['KK', 'LL', 4, 5]]

In [87]:
del(L[0:3])
print(L)

['BB', 'CC', 'XX', 'YY', 7, 8, 9, ['KK', 'LL', 4, 5]]

In [88]:
"hard rock".split()

['hard', 'rock']

In [90]:
a="aa,ss,dd,ff,gg,hh,jj,kk,ll"
L2 = a.split(",")
print(L2)

['aa', 'ss', 'dd', 'ff', 'gg', 'hh', 'jj', 'kk', 'll']

In [91]:
L3 = L2
print(L2)
print(L3)
L2[2] = 'ww'
print(L2)
print(L3)

['aa', 'ss', 'dd', 'ff', 'gg', 'hh', 'jj', 'kk', 'll']
['aa', 'ss', 'dd', 'ff', 'gg', 'hh', 'jj', 'kk', 'll']
['aa', 'ss', 'ww', 'ff', 'gg', 'hh', 'jj', 'kk', 'll']
['aa', 'ss', 'ww', 'ff', 'gg', 'hh', 'jj', 'kk', 'll']

In [95]:
L4 = L2.copy()
print(L4)
print('-------------------------')
L2[3] =  'UU'
print(L2)
print(L3)
print(L4)

['aa', 'ss', 'ww', 'ff', 'gg', 'hh', 'jj', 'kk', 'll']
-------------------------
['aa', 'ss', 'ww', 'UU', 'gg', 'hh', 'jj', 'kk', 'll']
['aa', 'ss', 'ww', 'UU', 'gg', 'hh', 'jj', 'kk', 'll']
['aa', 'ss', 'ww', 'ff', 'gg', 'hh', 'jj', 'kk', 'll']

In [97]:
b = (1,2,3,"AA","BB","CC")
L5 = list(b)
print(L5)
type(L5)

[1, 2, 3, 'AA', 'BB', 'CC']

list

In [98]:
set1 = {1,2,3,4,1,1,2,3,4,5,6,7,1,1,2,2}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [99]:
set2 = set(L4)
print(set2)

{'ff', 'jj', 'll', 'aa', 'gg', 'ww', 'hh', 'kk', 'ss'}

In [100]:
set2.add("pp")
print(set2)

{'ff', 'jj', 'll', 'aa', 'gg', 'ww', 'pp', 'hh', 'kk', 'ss'}

In [101]:
set3 = set2
print(set2)
print(set3)
print('-------------------------')
set2.add("66")
print(set2)
print(set3)

{'ff', 'jj', 'll', 'aa', 'gg', 'ww', 'pp', 'hh', 'kk', 'ss'}
{'ff', 'jj', 'll', 'aa', 'gg', 'ww', 'pp', 'hh', 'kk', 'ss'}
-------------------------
{'ff', 'jj', 'll', 'aa', 'gg', 'ww', 'pp', 'hh', '66', 'kk', 'ss'}
{'ff', 'jj', 'll', 'aa', 'gg', 'ww', 'pp', 'hh', '66', 'kk', 'ss'}

In [102]:
set2.remove("jj")
print(set2)

{'ff', 'll', 'aa', 'gg', 'ww', 'pp', 'hh', '66', 'kk', 'ss'}

In [103]:
set3

{'66', 'aa', 'ff', 'gg', 'hh', 'kk', 'll', 'pp', 'ss', 'ww'}

In [105]:
a = set2.pop()
print(a)
print(set2)

ff
{'ll', 'aa', 'gg', 'ww', 'pp', 'hh', '66', 'kk', 'ss'}

In [106]:
set3

{'66', 'aa', 'gg', 'hh', 'kk', 'll', 'pp', 'ss', 'ww'}

In [107]:
a = set3.pop()
print(a)
print(set3)
print(set2)

ll
{'aa', 'gg', 'ww', 'pp', 'hh', '66', 'kk', 'ss'}
{'aa', 'gg', 'ww', 'pp', 'hh', '66', 'kk', 'ss'}

In [108]:
L5

[1, 2, 3, 'AA', 'BB', 'CC']

In [109]:
L5.pop(2)

3

In [110]:
L5

[1, 2, 'AA', 'BB', 'CC']

In [111]:
L5.pop()
L5

[1, 2, 'AA', 'BB']

In [112]:
set2

{'66', 'aa', 'gg', 'hh', 'kk', 'pp', 'ss', 'ww'}

In [113]:
set4 = {"aa","bb","cc","dd","gg"}
set4

{'aa', 'bb', 'cc', 'dd', 'gg'}

In [114]:
set5 = set2 & set4

In [115]:
set5

{'aa', 'gg'}

In [116]:
set6 =  set2.union(set4)
print(set6)

{'cc', 'aa', 'gg', 'ww', 'bb', 'pp', 'dd', 'hh', '66', 'kk', 'ss'}

In [117]:
"aa" in set2

True

In [118]:
"bb" in set2

False

In [119]:
set2.issubset(set4)

False

In [120]:
set2.issubset(set6)

True

In [121]:
set5.issubset(set2)

True

In [122]:
set5.issubset(set4)

True

In [123]:
set2.issuperset(set5)

True

In [124]:
set2.isdisjoint(set4)

False

In [125]:
set7={"11","22"}
print(set7)
print(set2)

{'11', '22'}
{'aa', 'gg', 'ww', 'pp', 'hh', '66', 'kk', 'ss'}

In [126]:
set2.isdisjoint(set7)

True

In [127]:
dict1 = {"k1":1234,"k2":2345,"k3":3456,"k4":4567}

In [128]:
print(dict1)

{'k1': 1234, 'k2': 2345, 'k3': 3456, 'k4': 4567}

In [129]:
print(dict1["k1"])
print(dict1["k4"])

1234
4567

In [130]:
dict2 = {1:"Hello",2:"World",3:"Data",4:"Science"}

In [132]:
dict2[3]

'Data'

In [133]:
dict2 = {234:[1,2,3],32:[4,5,6],12:[4,5,6,7,8]}

In [134]:
dict2[234]

[1, 2, 3]

In [136]:
dict2[12]

[4, 5, 6, 7, 8]

In [137]:
dict3 = {234:[1,2,3],32:"Hello world",12:(4,5,6,7,8)}

In [138]:
dict3[32]

'Hello world'

In [139]:
dict3 = {234:[1,2,3],32:"Hello world",12:(4,5,6,7,8),"k1":{1,2,3,4,5},"k2":[1,2]}

In [141]:
dict3["k2"]

[1, 2]

In [142]:
dict3.keys()

dict_keys([234, 32, 12, 'k1', 'k2'])

In [143]:
dict3.values()

dict_values([[1, 2, 3], 'Hello world', (4, 5, 6, 7, 8), {1, 2, 3, 4, 5}, [1, 2]])

In [145]:
dict3.popitem()

('k2', [1, 2])

In [147]:
dict3.get("")